 <div class="pure-u-1 pure-u-md-1-3">
        <div class="pricing-table pricing-table-free">
          <div class="pricing-table-header">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS9yRhYhEq3Z2tm854A4-w6E8TCjcNwg-jt_VTKF0PS5SZdw-dG&usqp=CAU"
              width="100%" height="100%">
            <span class="pricing-table-price">
            </span>
          </div>

          <ul class="pricing-table-list">
            <li>{{eventTitle}}</li>
            <li>{{address}}</li>
            <li>{{eventStartDate}} & {{eventStartTime}}</li>
            <li>{{eventEndDate}} & {{eventEndTime}}</li>
            <li>{{regLimit}}</li>
            <li>{{seats}}</li>
            <li>{{duration}}</li>
            <li>{{effort}}</li>
            <li>{{eventSummary}}</li>
          </ul>

          <button class="button-choose pure-button">Choose</button>
        </div>
      </div>