<link rel="stylesheet" href="/public/css/member.css">
<img id="weLove"
    src="https://unitedwayofbrucegrey.com/wp-content/uploads/2018/04/We-love-our-Volunteers-National-Volunteer-Week-3.jpg"
    class="center">

{{#each dbEvents}}


<div id="cards" class="pure-u-1 pure-u-md-1-6">
    <div class="pricing-table pricing-table-free">
        <div class="pricing-table-header">
        </div>
        <h5 class="card-title">You Have Requested this Events</h5>
        <p class="card-text">We will contact you via Email soon.</p>

        <ul class="pricing-table-list">
            <li><strong> Title: </strong>{{eventTitle}}</li>
            <li> <strong> Start Date:</strong> {{eventStartDate}}</li>
            <li> <strong> End Date:</strong> {{eventEndDate}}</li>
            <li> <strong> Address:</strong> {{address}}</li>
            <li> <strong> Start Time: </strong> {{eventStartTime}}</li>
            <li> <strong> End Time:</strong> {{eventEndTime}}</li>
            <li> <strong>Detail:</strong> {{eventDetail}}</li>
        </ul>
        </ul </div>
    </div>
</div>
</div>
{{/each}}



</body>

</html>