 <link rel="stylesheet" href="/public/css/volunteer.css">

<div class="pure-u-1 pure-u-md-1-3">
    {{#each event}}
    <div class="pricing-table pricing-table-free">
        <div class="pricing-table-header">
            <img id = "volunteerPic" src="/public/img/Volunteer.jfif"
                width="100%" height="100%">
            <span class="pricing-table-price">
            </span>
        </div>

        <ul class="pricing-table-list">
            <li>Event Title: {{eventTitle}}</li>
            <li>{{eventSummary}}</li>
            <li>Date: {{eventStartDate}}</li>
            <li>Spots Available: {{regLimit}}</li>
            <li>Effort: {{effort}}</li>
            <li>Address: {{address}}</li>
            <li>Start Time:{{eventStartTime}}</li>
            <li>Duration: {{duration}}</li>
        </ul>
        <button class="button-choose pure-button">Choose</button>

    </div>
     {{/each}}
</div>